<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Thêm bài viết | HEALTHYCARE</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{../css/header.css}" rel="stylesheet">
    <link th:href="@{../css/body.css}" rel="stylesheet">
    <link th:href="@{../css/footer.css}" rel="stylesheet">
    <link th:href="@{../css/viewblog.css}" rel="stylesheet">
    <!-- <link href="viewblog.css" rel="stylesheet"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>
<div th:insert="~{common/user/template_user.html::header}">

</div>
<div class="container-main">
    <div class="container">
        <h4 class="text-left p-2 pt-4">Bài viết</h4>
        <hr/>
        <div class="blog-header">
            <img class="avarta" src="" alt="avarta">
            <div class="information">
                <h3 class="user-name">
                    UserName
                </h3>
            </div>
        </div>
        <div class="blog-body">
            <div class="title">
                <h1>title</h1>
            </div>
            <div class="list-img">

            </div>
            <div class="content">
                <p></p>
            </div>

        </div>

        <div class="blog-footer mt-5">
            <hr/>
            <h5>Các bình luận</h5>
            <div class="comment-body">
                <div class="item-comment">
                    <div class="user-comment">
                        <img src="" alt="Avatar" class="avatar">
                    </div>
                    <div class="content-comment">
                        <p>My comment</p>
                    </div>
                </div>
            </div>
            <h5>Viết bình luận</h5>
            <div class="comment-header row align-items-center">
                <div class="col-auto">
                    <div class="img-avt">
                    </div>
                </div>
                <div class="col">
                    <div class="form-comment">
                        <form action="submit-comment" id="comment-form">
                            <div class="form-group">
                                <textarea class="form-control" name="comment" id="comment" rows="3" placeholder="Nhập bình luận của bạn"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="action-submit">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
<div th:insert="~{common/user/template_user.html::footer}"></div>

<script type="module" th:src="@{../src/formcreateblog.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:src="@{../src/viewblog.js}"></script>
</body>
</html>
