.container {
    position: relative;
    margin: 20px;
    min-width: 80%;
    min-height: 800px;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
}

.blog-body {
    position: relative;
}

.blog-body .body-blog-container {
    position: relative;
    display: grid;
    grid-template-rows: 2fr 3fr 5fr;
}
