@font-face {
    font-family: UTMAvo;
    src: url('../fonts/UTM_Avo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'UTMAvo', 'Arial';
}

.mainbody{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 2%;
    max-width: 1300px; 
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.bodyheader{
    color: #464646;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 20px;
    display: flex;
}
.bodymain{
    margin-left: 74px;
}

.card-link {
    color: #000000;
    cursor: pointer;
    transition: transform 0.2s ease; 
}

.rightbody{
    flex: 1;
    
}
.leftbody{
    flex: 3

}
.container{
    position: relative;
}

.information {
    padding-left: 20px;
}

.card-confirm {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
}

.doctor-card {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 70px;
}

.doctor-card-right .doctor-name{
    font-style: bold;
}

.doctor-card-right .address-doctor span {
    font-style: italic;
    font-size: 0.8em;
}

.infor-list {
    list-style: none;
}

.infor-list li {
    display: flex;
    flex-direction: row;
    padding: 5px 0 5px 5px;
}

.infor-list li .content{
    margin-left: 5px;
}

.doctor-img img {
    max-height: 70px;
}