<header>
    <div class="container">
        <div class="wrapper">
            <div class="leftHeader">
                <a href="/" class="link">Trang Chủ</a>
                <a href="/" class="link">Cộng Đồng</a>
                <a href="/" class="link">Liên Hệ</a>
            </div>
            <div class="center">
                <a href="/"><img th:src="@{/img/logo.png}" width="135" height="100" class="img" alt=""></a>
            </div>
            <div class="rightHeader">
                <a href="/login" class="link">Đăng Nhập</a>
                <a href="/register" class="link">Đăng Ký</a>
            </div>
        </div>
    </div>
</header>


<footer>
    <div class="container-footer">
        <div class="footer-wrapper">
            <div class="footer-col">
                <h2>Về Alohcmute</h2>
                <p>Chào mừng bạn đến với Alohcmute - nền tảng chia sẻ và kết nối cộng đồng. Tại đây, chúng ta cùng nhau trải nghiệm, chia sẻ và tạo ra những khoảnh khắc đáng nhớ. Dù ở bất kỳ đâu, chúng ta luôn gần kề nhau thông qua Alohcmute.</p>
            </div>
            <div class="footer-col">
                <h2>Liên Hệ</h2>
                <p>Nguyễn Minh: 21110242@student.hcmute.edu.vn</p>
                <p>Mai Tấn Tài: 21110851@student.hcmute.edu.vn</p>
                <p>Nguyễn Quốc Long: 21110232@student.hcmute.edu.vn</p>
                <p>Điện thoại: +123-456-7890</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2023 Alohcmute. All Rights Reserved.</p>
        </div>
    </div>
</footer>
