<header>
    <div class="container-header">
        <div class="wrapper-header">
            <div class="leftHeader">
                <a href="/" class="link">Trang Chủ</a>
                <a href="/" class="link">Cộng Đồng</a>
                <a href="/" class="link">Liên Hệ</a>
            </div>
            <div class="centerHeader">
                <a href="/"><img th:src="@{/img/logo.png}" width="115" height="100" class="img" alt=""></a>
            </div>
            <div class="rightHeader">
                <a href="/login" class="link">Đăng Nhập</a>
                <a href="/register" class="link">Đăng Ký</a>
                <a href="/logout" class="link">Đăng Xuất</a>
            </div>
        </div>
    </div>
</header>


<footer>
    <div class="container-footer">
        <div class="wrapper-footer">
            <div class="leftFooter">
                <h2>Về HealthyCare</h2>
                <p>Chào mừng bạn đến với HealthyCare - nền tảng chia sẻ và cung cấp thông tin về chăm sóc sức khỏe. Tại đây, chúng tôi mong muốn mang lại kiến thức và hỗ trợ cho mọi người trong việc duy trì và nâng cao sức khỏe.</p>
            </div>
            <div class="rightFooter">
                <h2>Liên Hệ</h2>
                <p>Nguyễn Minh</p>
                <p>Mai Tấn Tài</p>
                <p>Nguyễn Minh Trí</p>
                <p>Nguyễn Anh Hào</p>
                <p>Điện thoại: +123-456-7890</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2024 HealthyCare. All Rights Reserved.</p>
        </div>
    </div>
</footer>
