<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ | HEALTHYCARE</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{css/header.css}" rel="stylesheet">
    <link th:href="@{css/body.css}" rel="stylesheet">
    <link th:href="@{css/footer.css}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</head>

<body>
    <div th:if="${#authorization.expression('hasRole(''ROLE_DOCTOR'')')}">
        <div th:insert="~{common/doctor/template_doctor.html::header}"></div>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ROLE_PATIENT'')')}">
        <div th:insert="~{common/user/template_user.html::header}"></div>
    </div>
    <div sec:authorize="isAnonymous()">
        <div th:insert="~{common/user/template_user.html::header}"></div>
    </div>
    <section id="main-search" class="bg-primary py-5">
        <div class="container">
            <div class="row justify-content-center text-center text-white">
                <div class="col-lg-8">
                    <h1 class="mb-4">HEALTHYCARE</h1>
                    <p class="mb-6">Đặt khám với hơn các bác sĩ, bệnh viện, phòng khám trên HealthyCare</p>
                    <form class="mb-8">
                        <div class="input-group">
                            <input name="q" type="search" placeholder="Triệu chứng, bác sĩ" class="form-control">
                            <input type="hidden" name="type" value="all">
                            <button class="btn btn-secondary ml-2" id="search">Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="container-main">
        <div class="mainbody">
            <h3 class="text-center my-4">Dành Cho Bệnh Nhân</h1>
                <div class="row justify-content-md-center">
                    <div class="col-xs-6 col-sm-3">
                        <a href="/search" class="card-link">
                            <div id="card1" class="card">
                                <img src="img/item-disease.jpg" class="card-img-top" alt="Triệu chứng">
                                <div class="card-body">
                                    <h5 class="card-title text-center fw-bold">Triệu chứng</h5>
                                    <p class="card-text">Có thể dựa trên các bài viết trên cộng đồng được các bác sĩ chia sẻ để tham khảo.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="/search" class="card-link">
                            <div id="card2" class="card">
                                <img src="img/item-doctor.jpg" class="card-img-top" alt="Bác sĩ">
                                <div class="card-body">
                                    <h5 class="card-title text-center fw-bold">Bác sĩ</h5>
                                    <p class="card-text">Thông tin về các bác sĩ chuyên khoa, số năm kinh nghiệm.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="/" class="card-link">
                            <div id="card3" class="card">
                                <img src="img/item-hospital.jpg" class="card-img-top" alt="Bệnh viện, phòng khám">
                                <div class="card-body">
                                    <h5 class="card-title text-center fw-bold">Đặt Lịch Khám</h5>
                                    <p class="card-text">Dành cho các bệnh nhân muốn đặt lịch khám với các bác sĩ.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <hr/>
                <div class="mt-4">
                    <div class="d-flex flex-row justify-content-between">
                        <h3>Đặt Khám Bác Sĩ</h3>
                        <h5 class="mr-4 mt-3"><a href="/community"><small class="text-mute">xem thêm...</small> </a></h5>
                    </div>
                    <div class="ml-4 d-flex flex-row flex-nowrap overflow-auto bd-highlight mb-3 wrapper" id="alldoctor"></div>
                </div>
                <hr class="my-4"/>
                <div class="mainbody1 mt-4">
                    <div class="leftbody">
                        <div class="d-flex flex-row justify-content-between">
                            <h3>Tin Cộng Đồng</h3>
                            <h5 class="mr-4 mt-3"><a href="/community"><small class="text-mute">xem thêm...</small> </a></h5>
                        </div>
                        <hr class="mb-4"/>
                        <div class="allblog"></div>
                    </div>
                    <div class="rightbody">
                        <h3 class="mb-4 text-right">Các Bài Đăng</h1>
                        <div class="allnearblog"></div>
                    </div>
                </div>  

        </div>
    </div>
    <div th:insert="~{common/user/template_user.html::footer}"></div>
    <script type="text/javascript" th:src="@{../src/fromindex.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</body>

</html>
