<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Quên Mật Khẩu | HEALTHYCARE</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{css/header.css}" rel="stylesheet">
    <link th:href="@{css/body.css}" rel="stylesheet">
    <link th:href="@{css/footer.css}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <script type="text/javascript" th:src="@{src/formforgotpassword.js}"></script>
</head>

<body>
    <div th:insert="~{common/user/template_user.html::header}"></div>
    <div class="mainbody">
        <div class="container container-forgot-password">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-forgot-password">
                        <h2 class="text-center mb-4">Quên Mật Khẩu</h2>
                        <form id="forgotPasswordForm">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Nhập địa chỉ email của bạn" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Gửi Yêu Cầu Đặt Lại Mật Khẩu</button>
                        </form>
                        <p class="mt-3 text-center"><a href="/login">Quay lại Đăng nhập</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{common/user/template_user.html::footer}"></div>
</body>
</html>
